.footer {
  background-color: var(--foreground);
}

.footer h3 {
  color: var(--background);
  font-size: 24px;
  margin-bottom: 35px;
}

.footer p {
  color: var(--ftrlink);
  font-size: 14px;
  margin-bottom: 20px;
}

.footer a {
  color: var(--ftrlink);
  font-size: 16px;
}

.footer a:hover {
  color: #ffffff;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 15px;
}

.footerSection {
  padding: 160px 0 120px 0;
}

/* marquee css */
.marqueeSection {
  border-top: 1px solid #aeaeae;
  padding: 30px 0;
}
.marqueeTrack {
  display: flex;
  width: max-content;
  animation: scroll 60s linear infinite;
}

.item {
  margin: 0px 20px;
  white-space: nowrap;
  font-family: Orbitron, sans-serif;
  font-size: 85px;
  font-weight: 500;
  line-height: 1em;
  opacity: 1;
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  color: #ffffff;
  line-height: initial;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
